@tailwind base;
@tailwind components;
@tailwind utilities;

#viewDiv {
    @apply h-full w-full
}

.map-loading {
    @apply flex justify-end right-2 absolute top-1/2 
}

/**
* Play/Stop toggle button
*/

#playButton {
    flex: 0 0 100px;
    order: 3;
}

.toggle-button {
    display: flex;
}

.toggle-button.toggled .toggle-button-icon {
    color: #cc1b1b;
}

.toggle-button .toggle-button-icon {
    color: #1bcc1b;
}

.toggle-button > :nth-child(2) {
    display: none;
}

.toggle-button.toggled > :nth-child(1) {
    display: none;
}

.toggle-button.toggled > :nth-child(2) {
    display: block;
}
/**
* Hover tooltip
*/

.tooltip {
    position: absolute;
    pointer-events: none;
    transition: opacity 200ms;
}

.tooltip > div {
    margin: 0 auto;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
    transform: translate3d(-50%, -125%, 0);
}

.esri-widget {
    @apply bg-base-100
}

.map-container {
    height: calc(100vh - 178px);
}

.map-container-slider {
    height: calc(100vh - 249px);
}

#sliderContainer {
    flex: 0 0 80px;
    order: 2;
}

#sliderValue {
    flex: 0 0 100px;
    order: 1;
}

#sliderInnerContainer {
    flex: 1 1 auto;
    order: 2;
}

@media screen and (max-width: 640px){
    .map-container {
        height: calc(100vh - 20vh);
    }

    .map-container-slider {
        height: calc(100vh - 30vh);
    }
}

@media screen and (min-width: 640px) and (max-width: 768px){
    .map-container {
        height: calc(100vh - 368px);
    }

    .map-container-slider {
        height: calc(100vh - 440px);
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .map-container {
        height: calc(100vh - 289px);
    }

    .map-container-slider {
        height: calc(100vh - 363px);
    }
}


@layer components {

    .stats {
        @apply rounded-none
    }

    .stats-panel {    
        /* border-radius: var(--rounded-box, 1rem); */
        --tw-bg-opacity: 1;
        background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
        --tw-text-opacity: 1;
        color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)))
    }
}